.weather{
    // display: flex;
    align-items: center;
	text-align: center;
    flex: 1 0 auto;
    &__text{
        font-size: 70px;
        line-height: 60px;
        font-weight: 600;
        opacity: 1;
        color:#fff;
        text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
        word-break: break-all;
    }
}

.weather-text-enter {
    opacity: 1;
    transition: opacity 1000ms;
  }
  
  .weather-text-enter-active {
    opacity: 0;
  }
  
  .weather-text-exit {
    opacity: 0;
  }
  
  .weather-text-exit-active {
    opacity: 1;
    transition: opacity 750ms;
  }


